{% extends "inicioSesion2.html" %}

{% block content %}

{% if form.errors %}
<p>Tu usuario o contraseña son incorrectos, por favor intentalo nuevamente</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p style="position:absolute;top: 50%;left:50%;transform:translate(-50%, 50%);width:400px;background: rgb(255,255,255); border-radius:10px;">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
    
<style>
  body {
    background-image: url("https://s2.abcstatics.com/media/natural/2018/10/30/fondo-oceanico-kEv--620x349@abc.jpg");
    background-size: 1500px;
  }
</style>

<form method="post" style="position:absolute;top: 50%;left:50%;transform:translate(-50%, 50%);width:400px;opacity: value; border-radius:10px;" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td style="position: absolute;top: 50%;left: 5px;color: #000000;transform: translateY(-50%);font-size: 16px;pointer-events: none;">{{ form.username.label_tag }}</td>
  <td style="width: 100%;padding: 0 5px;height: 40px;font-size: 16px;border: none;background: none;outline: none;">{{ form.username }}</td>
</div>
<div>
  <td style="position: absolute;top: 50%;left: 5px;color: #000000;transform: translateY(-50%);font-size: 16px;pointer-events: none;">{{ form.password.label_tag }}</td>
  <td style="width: 100%;padding: 0 5px;height: 40px;font-size: 16px;border: none;background: none;outline: none;">{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" style="width: 100%;
  height: 50px;
  border: 1px solid;
  background: rgb(25, 43, 154);
  border-radius: 25px;
  font-size: 18px;
  color: black;
  cursor: pointer;
  outline: none;"/>
  <input type="hidden" name="next" style="width: 100%;height: 50px;border: 1px solid;background: greenyellow;border-radius: 25px;font-size: 18px;color: black;cursor: pointer;outline: none;" value="{{ next }}" />
</div>
</form>

{% endblock %}
